.footer {
    position: relative;
    background-color: #0f3d3a;
    color: #ffffff;
    overflow: hidden;
    padding-top: 1rem;
}

.backgroundSvg {
    position: absolute;
    top: 10%;
    right: 4.5%;
    width: 70%;
    height: 80%;
    z-index: 0;
    pointer-events: none;
}

.svgImage {
    object-fit: contain;
    opacity: 0.25;
}

.content {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
}

.brand {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.08em;
}

.description {
    max-width: 420px;
    line-height: 1.6;
    font-size: 0.95rem;
    color: #e0f2f1;
}

.socials {
    display: flex;
    gap: 1rem;
}

.socials a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.backToTop {
    margin-top: 1rem;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    border: 1px solid #ffffff;
    background: transparent;
    color: white;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.backToTop:hover {
    background-color: #ffffff;
    color: #0f3d3a;
    transition: background-color 0.3s, color 0.3s;
}

.links h4 {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    letter-spacing: 0.08em;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin-bottom: 0.6rem;
    padding-top: 9%;
}

.links a {
    color: #e0f2f1;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}
.links a:hover {
    text-decoration: underline;
    color: red;
}

.bottomBar {
    background-color: #e09b3d;
    color: #000000;
    text-align: center;
    font-size: 0.65rem;
    padding: 0.3rem;
    letter-spacing: 0.07em;
}

@media (max-width: 1199) {
    .content {
        grid-template-columns: 1.5fr 1fr 1fr;
        gap: 2rem;
    }

    .description {
        max-width: 100%;
    }

    .backgroundSvg {
        right: -2%;
        width: 80%;
        opacity: 0.5;
    }
}

@media (max-width: 768px) {
    .backgroundSvg {
        display: none;
    }

    .content {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 3rem;
    }

    .brand {
        align-items: center;
    }

    .logo {
        justify-content: center;
    }

    .description {
        font-size: 0.95rem;
    }

    .socials {
        justify-content: center;
    }

    .links h4 {
        margin-bottom: 0.8rem;
    }
}