.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fef8e9;
  width: 90%;
  max-width: 420px;
  padding: 25px;
  border-radius: 12px;
  position: relative;
  animation: fadeIn 0.25s ease-out;
}

.closeBtn {
  position: absolute;
  color: black;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.title {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 10px;
  border-radius: 4px;
  border: 2.5px solid #ffffff;
}

.submitBtn {
  background: #000000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
  font-weight: bold;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
