.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff9ea;
  border-top: 3px solid #003366;
  padding: 10px 40px;
  font-family: "Segoe UI", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

}

/* Logo */
.logoSection {
  cursor: pointer;
}

/* Links */
.navLinks {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navLinks a {
  text-decoration: none;
  color: #001a33;
  font-weight: 500;
}
.navLinks a:hover {
  color: #ff0000;
  font-weight: 500;
}

/* Acciones desktop */
.actions {
  display: flex;
  gap: 20px;
}

/* Botones */
.donateBtn {
  background-color: #b3312d;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.donateBtn:hover {
  background-color: #8e2523;
}

.loginBtn {
  background: transparent;
  color: black;
  border: 1px solid #001a33;
  padding: 12px 22px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.loginBtn:hover{
  color: white;
  background-color: black;
}

/* Hamburger */
.menuToggle {
  display: none;
  color: black;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

/* MOBILE ACTIONS – OCULTAS POR DEFECTO */
.mobileActions {
  display: none;
}

/* ===== MOBILE ===== */
@media (max-width: 900px) {
  .menuToggle {
    display: block;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff9ea;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    border-bottom: 2px solid #003366;
  }

  .navLinks.open {
    display: flex;
  }

  .actions {
    display: none;
  }

  .mobileActions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
  }

  .donateBtn,
  .loginBtn {
    width: 80%;
    text-align: center;
  }
}
