.container {
  width: 100%;
}

.tabs {
  justify-content: center;
  background-color: white;
  display: flex;
  gap: 3%;
  padding: 16px;
  border-bottom: 1px solid #e5e7eb;
}

.tab {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #0000006c;
  cursor: pointer;
  font-weight: 500;
}

.tab:hover {
  background: #000000;
  color: white;
}

.active {
  background: #000000;
  color: white;
}

.content {
  padding: 20px;
}
