.PanelLayout {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.Panel {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: #f9faff;
}

.Content {
    color: black;
    background-color: #f9faff;
    width: 80%;
}
