.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: #0f3d3a;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.featureCard {
  flex: 1 1 calc(50% - 20px);
  background-color: #e8eb67;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  color: white;
  cursor: pointer;
}

.featureCard:hover {
  transform: translateY(-5px);
}
.button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #0f3d3a;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  text-align: center;
}

.button:hover {
  background-color: #09635a;
}
.featureCard h3 {
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}

.featureCard p {
  color: #000000;
  font-style: italic;
  font-size: 0.95rem;
}

@media (max-width: 900px) {
  .featureCard {
    flex: 1 1 100%;
  }
}