/* RankingCard.module.css */
.linkCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 250px;         
  max-width: 90%;       
  margin: 1rem auto;     
  text-align: center;
}


.linkCard:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.iconosDonar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.tituloIcono {
  font-size: 1.25rem;
  font-weight: 800;
  color: #b200f8;
  font-family: 'Montserrat', sans-serif; 
}

.textoIcono {
  font-size: 1rem;
  color: #555;
  max-width: 220px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

.iconosDonar svg {
  width: 100px;
  height: 100px;
  color: #FFD700; 
}

/* Responsive */
@media (max-width: 768px) {
  .linkCard {
    width: 200px;
    padding: 1rem;
  }

  .tituloIcono {
    font-size: 1.1rem;
  }

  .textoIcono {
    font-size: 0.95rem;
    max-width: 180px;
  }

  .iconosDonar svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .linkCard {
    width: 90%;
    padding: 0.8rem;
  }

  .tituloIcono {
    font-size: 1rem;
  }

  .textoIcono {
    font-size: 0.9rem;
  }

  .iconosDonar svg {
    width: 50px;
    height: 50px;
  }
}
